<aside
  class="sidebar"
  [class.aberto]="aberto()"
>

  <nav class="menu-lateral">

    <a class="item-menu ativo" routerLink="/turmas">

      <i class="bi bi-people-fill"></i>

      <span>
        Turmas
      </span>

    </a>


    <button class="item-menu">

      <i class="bi bi-chat-left-text"></i>

      <span>
        Chat
      </span>

    </button>


    <button class="item-menu">

      <i class="bi bi-clipboard"></i>

      <span>
        Atividades
      </span>

    </button>


    <button class="item-menu">

      <i class="bi bi-plus-lg"></i>

      <span>
        Criar
      </span>

    </button>


    <button class="item-menu">

      <i class="bi bi-bell"></i>

      <span>
        Notificações
      </span>

    </button>

  </nav>

</aside>