<aside
  class="sidebar"
  [class.aberto]="aberto()"
  [attr.inert]="aberto() ? null : ''"
>

  <nav class="menu-lateral">

    <a
      class="item-menu"
      routerLink="/turmas"
      routerLinkActive="ativo"
      (click)="fechar.emit()"
    >
      <i class="bi bi-people-fill" aria-hidden="true"></i>
      <span>Turmas</span>
    </a>

    <a
      class="item-menu"
      routerLink="/metas"
      routerLinkActive="ativo"
      (click)="fechar.emit()"
    >
      <i class="bi bi-bullseye" aria-hidden="true"></i>
      <span>Metas</span>
    </a>

   <a class="item-menu" routerLink="/chat" routerLinkActive="ativo" (click)="fechar.emit()">
  <i class="bi bi-chat-left-text" aria-hidden="true"></i>
  <span>Chat</span>
   </a>

    <a class="item-menu" routerLink="/atividades" routerLinkActive="ativo"(click)="fechar.emit()">
      <i class="bi bi-clipboard" aria-hidden="true"></i>
      <span>Atividades</span>
    </a>
    

    <button class="item-menu" type="button" (click)="fechar.emit()">
      <i class="bi bi-plus-lg" aria-hidden="true"></i>
      <span>Criar</span>
    </button>

    <button class="item-menu" type="button" (click)="fechar.emit()">
      <i class="bi bi-bell" aria-hidden="true"></i>
      <span>Notificações</span>
    </button>
    
 </nav>

</aside>