<header class="app-header">
    <div class="logo">
        <a>
            <img src="logo.png">
        </a>
    </div>

    <nav class="navegacao">
        <a href="#">Livros</a>
        <a href="#">Coleções</a>
        <a href="#">Livraria</a>
    </nav>

    <div class="navbar-icons">

    <button>
      <i class="bi bi-search"></i>
    </button>

    <button>
      <i class="bi bi-bell"></i>
    </button>

    <button class="profile">
      <i class="bi bi-person"></i>
    </button>

  </div>

</header>