.app-header {
  height: 90px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  display: flex;
  align-items: center;
  width: 100px;
  height: 50px;
}

.logo img {
  max-width: 100%;
  max-height: 50px;
}

.navegacao {
  display: flex;
  gap: 30px;
}

.navegacao a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s ease;
}

.navegacao :hover{
  color: yellow;
}

.navbar-icons {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 25px;
}

.navbar-icons button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 22px;
  padding: 0;
  cursor: pointer;

  transition: color 0.2 ease,
  transform 0.2s ease;
}

.navbar-icons button:hover {
  color: yellow;
  transform: scale(1.1);
}

.navbar-icons .profile {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #dcd0ff;
  color: #542aa8;
}