:host {
  display: block;
}

.pagina-turmas {
  min-height: calc(100vh - 64px);
  background-color: #000;
  color: #fff;
  padding: 25px 40px 60px;
}

.conteudo-turmas {
  width: 100%;
  max-width: 1048px;
  margin: 0 auto;
}


/* ABAS */

.abas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  max-width: 430px;
  height: 35px;
  margin: 0 auto 35px;
  background-color: #3b393a;
  border-radius: 10px;
  overflow: hidden;
}

.aba {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.aba button :hover{
  color: #ffd900;
}


/* CARDS */

.card {
  width: 100%;
  background-color: #1f1f1f;
  margin-bottom: 26px;
}


/* ESTATÍSTICAS */

.estatisticas {
  min-height: 118px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px 45px;
  color: white;
}

.estatistica {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.titulo-estatistica {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.titulo-estatistica i {
  font-size: 18px;
}

.valor {
  background-color: #3b393a;
  padding: 8px 22px;
  border-radius: 9px;
  font-size: 16px;
}


/* METAS */

.metas {
  min-height: 130px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px 45px;
  color: white;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.mensagem {
  grid-column: 1 / -1;
  margin: 0;
  text-align: center;
  font-size: 14px;
}


/* RESPONSIVIDADE */

@media (max-width: 768px) {

  .pagina-turmas {
    padding: 20px;
  }

  .estatisticas,
  .metas {
    grid-template-columns: 1fr;

    gap: 25px;

    padding: 25px;
  }

  .mensagem {
    grid-column: auto;
  }

}